

*{
	margin: 0;
	padding: 0;
}

body{
	
}
header{
	background-image: url(../images/fondo.jpg);
	background-attachment: fixed;
	background-size: 100%;
	
	background-repeat: no-repeat;
	position: relative;
}


.letras{
	position: absolute;
	left: 45%;
	top: 250px;
}

.letras h1{
	font-size: 6em;

}

.letras h1 a span{
	color: #4d4d4d;
}

.letras .sus{
	position: absolute;
	left: 110px;
	color: #4d4d4d;
}
.letras .sus:hover{

	background: #d53966;
	text-decoration: none;
	left: 105px;
	padding: 5px;
	border-radius: 10%;
	color: #fff;
	-webkit-transition: background  2s;
}

.letras p{
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	padding-left: 10px;
}

.letras h1 a:hover{
	text-decoration: none;
}


.letras h1 a:hover{
	text-decoration: none;
	color: ;
}
.letras h1 a span{
	display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}
.letras h1 a span:hover{
	color:#d53966;
	cursor: pointer;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}


.parrafo{
	width: 80%;
	margin: auto;

}

.margen{
	clear: both;
	padding-top: 15px;
	position: relative;
}

.imagen{
	width: 100%;
	position: absolute;
	padding-left: 50px;
	
}

.imegen img{
	padding-left: 50px;
}

.margen p{

}


/*modificar efecto cd*/
.fondo1{
	position: relative;
	margin-top: -20px;
	background-image: url(../images/milmaneras.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.fondo1 h2{
	font-family: georgia;
	text-align: center;
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 0px;
	color: #1d1d1d;
	
}


.modificar{
	width: 320px;
	height: 430px;
	padding-top: 10px;
	position: relative;
	text-align: ;
	
}
 .modificar .reseña{
 	padding-left: 50px;
 	padding-top: 15px;
 }
 .modificar .reseña h3{
 	font-family: raleway !important;
 	font-size: 1.4em;
 	color: #1d1d1d !important;
 }
 .modificar .reseña h3 i{
 	font-size: 1.9em;
 	width: 60px;
 	margin-left: 120px;
 	padding: 13px;
 	color: #fff;
 	display:block;
 	border-radius: 50%;
 	background:#E99706;

 }
.modificar .reseña h3, p{
	color: #000;
	font-size: 1.1em;
	font-family: raleway;
	text-align: center;
}

.modificar .reseña a{
	color: #fff;
	background:#E99706;
	text-align: center;
	display: inline-block;
	padding: 8px;
 	border-radius: 2px;
 	margin-left: 110px;
}

.modificar .reseña a:hover > i {
	padding-left: 4px;
	color:#fff;
	transition:all .6s;
}



.modificar .cd1{
	position: absolute;
	padding-left: 100px;


}

.modificar .cd2{
	position: absolute;
	padding-left: 100px;
	-webkit-transition: padding-left  .5s;
}

.modificar .cd2:hover{
	position: absolute;
	padding-left: 0px;
	-webkit-transition: padding-left  .5s;
}

.modificar .cd1:hover{
	position: absolute;
	
}

.modificar h2{
	padding-top: 210px !important;
}



/*EVENTOS*/


#eventos{
	height: 400px;
	background-image: url(../images/imagen.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}

#eventos h3{
	border-top: 3px solid #2a64bc;
	background:#4d4d4d;
	text-align: center;
	padding-left: 50px;
	color: #fff;
}

#eventos h3:hover{
	
}

/*pie de pagina*/

footer{
	background: #2d2d2d;
	
	padding: 30px;
	text-align: center;
	position: relative;
	height:70px;
	border-top: solid 3px #2a64bc; 
}

footer ul li{
	display: inline-table;
	padding-left: 60px;
	position: relative;
	
}
footer ul.redes a{
	padding: 0;
	margin: 0;
	display: inline-table;
	padding-left: 260px;
	position: absolute;
	float: right;

}

footer ul li a{
	color: #9d9d9d;
	font-size: 1em;
}

footer a{
	float: left;
	color: #9d9d9d;
}

footer a:hover{
	text-decoration: none;
	color: #2a64bc;

}

.comprar{
	background: transparent;
	border: none;
	color: #4d4d4d;
}

.comprar:hover{
	background: #d53966;
	border-radius: 5%;
	color: #fff;
	padding: 4px 6px;
	-webkit-transition: background  2s;
	

}


/*about us*/
 
div.about{
    height: 550px;
    background-color:  #00233f;

}

.mono-fo{
    margin-top: 80px; 
    width: 100%;
    background-image: url(../images/fondo2.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

.mono-pa{
    
    background: linear-gradient(100deg, #00233f 90%, transparent 10%);
    -webkit-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    -moz-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    width: 60%;
    padding: 10px;
}

.about .mono-pa h3{
    font-family: georgia;
    color: #E99706;
    font-size: 2.7em;
    margin-bottom: 0px !important;
}

.about .mono-pa h4{
	font-size: 1.5em;
	font-family: georgia;
	color: #cacaca;
	margin-top: 0px !important;
}

.about .mono-pa p{
    width: 90%;
    text-align: justify;
    font-family:Raleway;
    color: #dbdbdb;
    font-size: 1.1em;
    padding-bottom: 5px;
}
.p-l{
    font-size: 2em;
    color: #E99706;
    margin: 0;
    font-family: georgia;
}
.about .mono-pa span.especial{
    color:#E99706;
    font-family: georgia;
}

.about .mono-pa span .especial:hover{
    text-decoration: none;
    color: #B26104;
}
.redes{
    padding-left: 80px;
}


}
.redes ul{
    list-style: none;
}

.redes ul li{
    display: inline;
    margin-left: 10px;
}

.redes ul li a{
    color: #fff;
    padding: 7px 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    transition:all 1s;
}

.redes ul li a:hover{
    background: #fff;
    color: #00233f;
    border-radius: 10px;
    text-decoration: none;
    

}

/*next-event*/
.next-event-kup{
    background: url(../img/event-fondo.jpg);
    background-attachment: fixed;
}
.mono-p{
    
    text-align: center;
    padding:50px 0;
}

.mono-p h2{
    color: #fff;
    font-size: 3em;
    font-family: baloo;
}

.mono-p p{
    color: #582286;
    font-size: 1.2em;
    margin-bottom: 50px;
}


.navbar ul li a{
	font-family: raleway !important;
	font-weight:normal !important;
}

#logo-bar{
	background: rgba(236,236,236,.96) !important;
}

.spon.s{
	background: blue;
	height: 400px;
}

.our_clients{

	background:#e6e6e6;
}

.sociales{
	height: 600px;
	background:url(../images/nuevof.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 50px 0;
}

.controlador{
	padding-left: 20px;
	background: #0069be;
	-webkit-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    -moz-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
	border-radius: 10px;
}

.controlador h3{
	font-family: raleway;
	color: #d4d4d4;
}
.bt-1{
	
	padding:0 5px;
	display: inline-table;
}
.bt-1 .articulo{
	padding-top: 10px;
	padding-bottom: 15px;
}
.bt-1 img{

	width: 80px;
	height: 80px;
	margin: 0 5px;
	border-radius: 10px;

}


.bt-1 .componentes{
	width: 80px;
}

.bt-1 a{
	text-align: left;
	font-size: .6em;
	color: #2d2d2d;
	font-family: raleway;
}

.mapaa{
	padding-top: 15px;
}
.mapaa iframe{
	width: 100%;
	-webkit-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    -moz-box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    box-shadow: -14px -11px 29px -17px rgba(26,15,26,1);
    max-height:380px;
    height:300px;
    border-radius: 10px;
}

.mono-for{
	height: 500px;
}

.mono-for input{
	height: 34px;
}


